/* Set base font size */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    /* Default font size 16px */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eaeaea;
    // transform: translateX();
}

.App_container {
    min-width: 50rem;
    max-width: 80rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    // position: relative;
    // left: 50%;
    // transform: translateY(-50%);
}

.search_bar {
    // margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar .row {
    width: 100%;
}

.search_bar .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar input[type="text"] {
    width: 80%;
    padding: 1rem;
    font-size: 1.6rem;
    // border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    margin-right: 4rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.search_bar input[type="text"]:focus {
    border-color: #007bff;
}

.search_bar button {
    padding: .9rem 2rem;
    font-size: 1.6rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search_bar button:hover {
    background-color: #0056b3;
}

.leaderboard_data_show {
    margin-top: 3rem;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid #ddd;
}

.table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.highlight {
    color: red !important;
    text-transform: capitalize;
}

.userStyling {
    text-transform: capitalize;
}

.icon_size {
    font-size: 3rem !important;
}
// .wrapper {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     /* Ensure wrapper fills the viewport */
// }

@media screen and (max-width: 726px) {
    html {
        font-size: 55%;
    }

}
@media screen and (max-width: 520px) {
    html {
        font-size: 50%;
    }

}
@media screen and (max-width: 420px) {
    html {
        font-size: 40%;
    }

}
@media screen and (max-width: 350px) {
    html {
        font-size: 35%;
    }

}
@media screen and (max-width: 290px) {
    html {
        font-size: 30%;
    }

}
@media screen and (max-width: 250px) {
    html {
        font-size: 25%;
    }

}